html {
  box-sizing: border-box;

}
h1 {
  display: inline-block;
  background-image: url('pattern.jpeg');
  color: khaki;
  text-align: center;
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  padding: 0, auto;
  width: 100%;
}
h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
.price {
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}
